body{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-color: burlywood;
    margin: 0;
    height: 1300px;
    overflow: scroll; 
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 100px;
    background-color: #deb887;
    padding: 30px;
}

img{
    position: relative;
    top: 100px;
    left: 500px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


h1{
    position: relative;
    color: brown;
    top: -20px;
    text-align: center;
}

input {
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #af7d60;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    position: relative;
}
button:hover {
    background-color: rgb(61, 37, 22);
}

