body {
    height: 100vh; 
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: 'Times New Roman', Times, serif;
    /* text-align: center; */
    background-color: burlywood;
    overflow-y: auto;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #deb887;
    padding: 47px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    color: rgb(38, 40, 131);
    text-align: center;
    margin-bottom: 20px;
}

input {
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
}

.password-viewer {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
}

.password-viewer input {
    flex: 1;
}

.password-viewer img {
    width: 22px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

button {
    background-color: #af7d60;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
button:hover {
    background-color: rgb(61, 37, 22);
}

.scholarship_form {
    width: 80%;
    margin: 40px auto; 
    padding: 20px;
    background-color: #ded7cf;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left; 
    align-items: flex-start; 
}

select {
    width: 100px; 
    padding: 5px;
    border-radius: 5px;
}
label {
    font-size: 18px;    
}

.form-group {
    display: flex;
    align-items:center;
    gap: 10px;
    margin-bottom: 10px;
}

.form-group label {
    width: 200px; 
}

.scholarship_form button {
    align-self: center;
    margin-top: 20px; 
}