<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Registeration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="scholarship_form">
        <h1>SCHOLARSHIP REGISTERATION FORM</h1>
        <h2>STUDENT DETAILS</h2>
        <form action="#" method="post">
        <label for="">Full Name</label>
            <input name="name" autocomplete="off" autofocus placeholder="Enter your Name" type="text" required>
        <label for="">Student Email</label>
            <input name="email" autocomplete="off" autofocus placeholder="Enter your Email" type="email" required>
        <label for="">Registration Number</label>
            <input name="reg_no" autocomplete="off" autofocus placeholder="Enter your registration number" type="text" required>
        <label for="">CNIC/B-form Number</label>
            <input name="nic" autocomplete="off" autofocus placeholder="Enter your CNIC/B-form Number" type="text" required>

    <div class="form-group">
        <label for="">Date Of Birth</label>
        <select name="dob_day" required>
            <option disabled selected value="">Day</option>
            {% for day in range(1, 32) %}
                <option value="{{ day }}">{{ day }}</option>
            {% endfor %}
        </select>

        <select name="month" required>
            <option disabled selected value="">Month</option>
            {% for month in Month %}
                <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select>

        <select name="year" required>
            <option disabled selected value="">Year</option>
            {% for year in Year %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <h2>ACADEMIC DETAILS</h2>
    </div>
    <div class="form-group">
        <label for="Semester">Current Semester</label><br>    
        <select name="Semester" required>
            <option disabled selected value="">Semester</option>
            {% for semester in Semester %}
            <option value="{{ semester }}"> {{ semester }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">   
        <label for="Program">Program/Degree</label>
        <select name="Program" required>
            <option disabled selected value="">Program</option>
            {% for program in Program %}
            <option value="{{ program }}"> {{ program }}</option>
            {% endfor %}
        </select>
    </div>    
    <div class="form-group">
        <label for="Department">Department</label>
        <select name="Department" required>
            <option disabled selected value="">Department</option>
            {% for department in Department %}
            <option value="{{ department }}"> {{ department }}</option>
            {% endfor %}
        </select>
    </div>

        <label for="">Current Semester GPA</label>   
            <input name="curr_gpa" autocomplete="off" autofocus placeholder="Enter your current GPA" type="number" required>
        <label for="">CGPA</label>
            <input name="curr_cgpa" autocomplete="off" autofocus placeholder="Enter your CGPA" type="number" required>
        <label for="">Previous GPA's</label> <!-- drop down-->
            <input name="prev_gpa" autocomplete="off" autofocus placeholder="GPA" type="number" required>
        
        <h2>PERSONAL DETAILS</h2> 
        <label for="">Home Address</label>   
            <input name="address" autocomplete="off" autofocus placeholder="Enter your Address" type="text" required>
        <label for="">Phone Number</label>
            <input name="phone_number" autocomplete="off" autofocus placeholder="Enter your Phone Number" type="text" required>
        <label for="">Guardian's Name</label>
            <input name="guardian's_name" autocomplete="off" autofocus placeholder="Enter your Guardian's Name" type="text" required>
        <label for="">Guardian's contact number</label>
            <input name="guardian's_contact" autocomplete="off" autofocus placeholder="Enter your Enter your Guardian's Contact Number" type="text" required>
        <label for="">Relation with Guardian</label>
            <input name="relation" autocomplete="off" autofocus placeholder="Enter your Relation with Guardian" type="text" required>
        
        <h2>SCHOLARSHIP JUSTIFICATION</h2>
        <label for="yesNo">Have you applied for any other Scholarships?</label>
        <select name="yesNo" required>
            <option disabled selected value="">Yes</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>

        <!-- <label for="Docs">Attach Supporting Documents</label>
        <select name="Docs" required>
            <option disabled selected value="">Yes</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select> -->
        
    <button type="submit">Submit</button>    
        </form>
    </div>
</body>

</html>